.p-body {
  background: #f2f4f800;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Open Sans";
}

.p-education {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #555555;
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.p-credentialing {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #555555;
  --bg-color: #b8f9d3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.p-wallet {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #555555;
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.p-human-resources {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #555555;
  --bg-color: #dce9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.p-card {
  width: 220px;
  height: 321px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  /* padding: 10%; */
  padding-left: 5%;
  padding-right: 5%;
}

.p-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
  background-color: rgba(1, 1, 1, 0.3);
  background-image: url("https://apod.nasa.gov/apod/image/2110/LucyLaunchB_Kraus_2048.jpg");
}

.p-card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.p-card:hover .Schul path,
.Schul polygon,
.Schul rect {
  fill: rgba(230, 230, 230, 0.5);
}

.p-card:hover .Schul {
  transition-duration: 300ms;
  transition-delay: 50ms;
  width: 3em;
  height: 3em;
}

.p-card:hover p {
  color: white;
  font-size: 2.5rem;
  transition-duration: 500ms;
  transition-delay: 50ms;
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #ffffff;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}
.Schul {
  width: 5em;
  height: 5em;
}

.Schul path,
.Schul polygon,
.Schul rect {
  fill: #4691f6;
}

.Schul circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
