@media only screen and (max-width: 768px) {
  .dd {
    flex-direction: column;
  }
}

input {
  height: 44px !important;
}

td a{
  color:#212529;
  text-decoration: underline;
}
ol li{
  cursor: pointer;
  text-decoration: underline;
}
