@media only screen and (max-width: 768px) {
  .dd {
    flex-direction: column;
  }
}

input,
select {
  height: 44px !important;
  background: #444 !important; 
  color: #fff !important;
}

.mer__search {
  background-color: #0073cf !important;
}
.mer__search::placeholder{
  color: rgb(210, 204, 204) !important;
}
.form-control::placeholder {
  color: #fff;
  opacity: 1;
}

td a{
  text-decoration: underline;
}
ol li{
  cursor: pointer;
  text-decoration: underline;
}

 table  tbody  tr:hover td{
  border-color: #0073cf !important;
}
